.table {
  border: 2px solid black;
  margin: 0 auto;
  margin-top: 60px;
  width: 420px;
  border-collapse: collapse;
}

.tableHead {
  background-color: rgb(62, 60, 60);
  color: aliceblue;
}

.tableHead th {
  border: 1px solid black;
}

.tableItem {
  text-align: center;
  text-transform: capitalize;
  border: 1px solid black;
}

.tableItem:nth-child(even) {
  background-color: gray;
}
.tableItem td {
  border: 1px solid black;
}
.table th,
.table td {
  width: 33%;
}
